<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="公益数据项目">
	<meta name="author" content="Yufei-Li">
    <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">
    <title>{% block title %}{% endblock %}</title>
		{% block style %} {% endblock %}
</head>
<body>
    {% block content %}{% endblock %}

	<!--Javascript代码引入-->
	<script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>

    {% block footer %}
    <hr>
    <p>Thanks for visiting my site.</p>
    {% endblock %}

</body>
</html>
