{% extends "base.html" %}

{% block title %} SUES : CRM || 产品展示 {% endblock %}

	{% block content %}

	<div class="row">
	{% for item in goods %}

		<div class="col-sm-6 col-md-4">
			<div class="thumbnail">
				<img data-src="holder.js/300x200" src="/image/bg1.jpg" alt="...">
				<div class="caption">
					<h3> {{ item.name }} </h3>
					<p> ￥{{ item.price }} </p>
					<p><a href="#" class="btn btn-default" role="button">查看详细</a> <a href="#" class="btn btn-primary" role="button">提交订单</a></p>
				</div>
			</div>
		</div>


	{% endfor %}

	</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">订单信息</h4>
			</div>
			<div class="modal-body">
				<form role="form">
					<div class="form-group">
						<label for="goods">产品</label>
						<select id="goods" name="goods" class="form-control">
						{% for item in goods %}
							<option> {{ item.name }} </option>
						{% endfor %}
						</select>
					</div>
					<div class="form-group">
						<label for="number">数量</label>
						<input type="text" class="form-control" id="number" placeholder="数量">
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox"> 是否收取邮件/短信
						</label>
					</div>
				</form>

																								
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				<button type="button" class="btn btn-primary">提交</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

	{% endblock %}

