{% extends "base.html" %}

{% block title %} 5分钟指南 {% endblock %}

	{% block content %}

	{{ title }}

	{% for item in titles %}
	<div class="panel panel-default">
		<div class="panel-heading"> {{ item.created_at }} </div>
		<div class="panel-body">
			{{ item.text }}
		</div>
	</div>
	{% endfor %}

	{{ comments }}

	{% for item in comments %}
	<div class="panel panel-default">
		<div class="panel-heading"> {{ item.created_at }} </div>
		<div class="panel-body">
			{{ item.text }}
		</div>
	</div>
	{% endfor %}

	{{ token }}


	<a href="https://api.weibo.com/oauth2/authorize?client_id=1342064535&scope=all&redirect_uri=http://127.0.0.1:8000/sns/" class="btn btn-large btn-success">授权微博</a>

	<script type="text/javascript">
		$(document).ready( function() {
		});
	</script>

	{% endblock %}
